

div[name=header],h1
{
    color: #0a2df7;
    font-size: 25px;
    padding:1px;
    margin-left:90px;
  }


  form{
    margin: 50px auto;
    width: 500px;
    padding: 15px;
    border: 2px solid darkgreen;
    border-radius: 2em;
    background-color: lightcyan;
    
  }
  
  label{
    margin-left: 80px;
    display: inline-block;
    width: 120px;
  }

  
  input[name=Total],input[name="Tip_Amount"],input[name="Tip_percent"]
  {
    background-color: lightgray;
  }

  p{text-align: center;
font-size: large;}
  
